/* Updated CSS code */
option, input, input[type="number"] {
	font-size: 20px;
	text-align: center;
}

#catalogoContainer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

h1 {
	text-align: center;
}

.prodotto {
	width: calc(30% - 20px);
	border: 1px solid #B71C1C;
	box-shadow: 0 2px 4px #880E4F;
	border-radius: 6px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
}


.product-details h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

span {
	margin-bottom: 10px;
}

input[type="number"] {
	width: 50px;
	margin-right: 10px;
	padding: 5px;
}
