@charset "UTF-8";
/* error.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

/* You can add additional styles as needed */

