body {
	background-image: url('../images/svg/low-poly-grid-haikei.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
/*Color of the price text*/
.product-subtotal, .product-price {
	color: green;
}

h1 {
	color: #000000;
}

h2 {
	color: #000000;
	text-align: center;
}

h3 {
	color: #000000;
}

a {
	color: #77bbff;
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
	color: #1cb5ff;
}

p {
	color: #000000;
}

label, strong {
	color: #000000;
}

input, select {
	text-align: center;
	background-color: transparent;
	color: #000000;
}

option {
	background-color: #1c0d2a;
	color: #F8F8F8;
	border: none;
}

.product-details {
	text-align: center;
	border-top: 2px solid red;
	border-left: 2px solid red;
	border-right: 2px solid red;
	border-bottom: 2px dashed red;
	border: 1px solid #FFFFFF;
	box-shadow: 0 2px 4px #FFFFFF;
	border-radius: 6px;
	margin: 0 auto;
	margin-top: 20px;
}

.cart-total {
	color: green;
}

.cart-table {
	box-shadow: -1px 5px 9px 0px rgba(2, 0, 0, 0.5)
}

input[type="submit"] {
	background-color: orange;
	color: #1c0d2a;
	border-style: solid;
	padding: 8px 16px;
	border-radius: 3px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: rgb(225, 225, 225, 0.2);
}

th, caption {
	color: #1cb5ff;
	background-color: #0d1b2a;
}

button {
	background-color: orange;
	color: #0d1b2a;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,input[type="number"]:focus,
	textarea:focus {
	background-color: #e3e3e3;
}

.orderDetails {
	background-color: rgb(250, 250, 250, 0.3);
}
/*Text area and admin catalog section addproduct*/
textarea {
	background-color: transparent;
	color: #000000;
	resize: vertical;
}

#AddProduct {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button-container {
	text-align: center;
}

/* end */
.error {
	font-size: 20px;
	text-align: center;
	color: red;
}

/* Header CSS */

/* Styles for the navigation */
/* Default styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0,0,255,0.7);
  padding: 10px;
}

.navbar a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar a.active {
  color: #555;
  font-weight: bold;
}

.navbar img {
  margin-right: 5px;
}

.toggle-btn {
  display: none;
}

.left-menu {
  display: flex;
  align-items: center;
}

.center-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.right-menu {
  display: flex;
  align-items: center;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
  }

  .left-menu,
  .center-menu,
  .right-menu {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .toggle-btn {
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }

  .toggle-btn a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
  }

  .toggle-btn i {
    margin-right: 5px;
  }

  .navbar.show {
    display: flex;
  }
}
