/* Stili per il contenitore del catalogo */
#catalogoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Stili per ogni prodotto */
.prodotto {
  width: 200px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.prodotto a {
  text-decoration: none;
}

.prodotto img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.prodotto h2 {
  margin-top: 10px;
  font-size: 16px;
}

.prodotto .prezzo {
  font-weight: bold;
}

.prodotto .descrizione {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.prodotto form {
  margin-top: 10px;
}

