/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after{
	content: "";
	clear: both;
	display: block;
}


@media screen and (max-width: 1200px){
	body{
		width: 1000px;
		margin: 0 auto;
	}
}


/* Stili per l'intestazione */





/* Stili per la sezione principale */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

section img {
  width: 100%;
  margin-bottom: 20px;
}

section div {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

section h2 {
  margin-bottom: 10px;
}

section ul {
  list-style: none;
}

section li {
  margin-bottom: 10px;
}

section a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}


/*CSS Slideshow*/ 
#slideshow {
  position: absolute;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slideshow img.active {
  opacity: 1;
}
/*Fine CSS Slideshow*/

#BestSeller{
	position: absolute;
	top: 870px;
	left: 150px;
	width: 380px;
	box-shadow: 10px 10px 10px 10px #dedede;
}
#BestSeller_Text{
	position: absolute;
	right: 490px;
	top: 1100px;
}
#OfferteDellaSettimana{
	position: absolute;
	width: 400px;
	box-shadow: 10px 10px 10px 10px #dedede;
	right: 150px;
	top: 870px;
}
#OfferteDellaSettimana_Text{
	position: absolute;
	right: 70px;
	top: 1100px;
	font-family: Helvetica, Arial, sans-serif;
}
#UltimiArrivi{
	position: absolute;
	width: 400px;
	box-shadow: 10px 10px 10px 10px #dedede;
	right: 370px;
	top: 1170px;
}
#UltimiArrivi_Text{
	position: absolute;
	right: 255px;
	top: 1400px;
	font-family: Arial, Verdana, sans-serif;
}
