@charset "ISO-8859-1";

nav{
	background-color: #404040;
	color: white;
}

nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0;
}

nav li a{
	text-decoration: none;
	color: white;
	padding: 20px;
}

nav li{
	display: inline-block;
	padding: 10px;
}

nav li:hover{
	background-color: #737373; 
}


.active {
  background-color: #04AA6D;
}

.cart{
	widht: 15px;
	height: 15px;
}

.searchIcon{
	widht: 15px;
	height: 15px;
}
.searchBar{
  width: 190px;
  height: 30px;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.1rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-right: 10px;
  margin-top: -5px;
}

.avatar{
	widht: 15px;
	height: 15px;
}

