*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
:root{
	--bg-color: #fff;
	--text-color: #black;
	-- main-color:#29fd53; 
}
body{
	min-heigth: 100vh;
	background: var(--bg-color);
	color: var(--text-color);
}
nav{
	position: fixed;
	width: 100%;
	top:0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 28px 12%;
	transition: all .50s ease;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.navbar a:active{
	color: ;
}

.main{
	display: flex;
	align-items: center;
}

.main a{
	margin-rigth: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weigth: 500;
	transition: all .50s ease;
}
.input-box
{
	position: relative;
	height: 25px;
  max-width: 200px;
  width: 100%;
  background: #434343;
  margin: 0 35px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box input {
	color: #fff;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 10px;
  font-weight: 400;
  border: none;
  padding: 0 5px 0 5px;
  background-color: transparent;
}
.input-box .button {
	position: relative;
	float:right;
	margin-top: -32px;
	margin-right: -10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  background-color: #black;
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}
.user{
	display: flex;
	align-items: center;
}
.user i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 7px;
}
.main a:hover{
	color: #45412e;
}
.cart{
	
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}
